extends layout

block content
  h1= title
  p Welcome to #{title}
  h4 Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officiis, nam quisquam culpa error iste velit rem aliquam 
    perspiciatis quos repudiandae esse aperiam? Hic quo ad rerum commodi reiciendis expedita, explicabo voluptatem sit, et 
    maiores necessitatibus modi similique ducimus aut itaque consequatur officiis repudiandae reprehenderit excepturi accusamus, 
    quod nesciunt. Minima rerum laborum ipsam, provident cum eos vel blanditiis nobis dignissimos! Consequuntur soluta ut 
    voluptatibus laboriosam tempore magnam asperiores placeat doloremque deleniti, dolorem in officiis sunt impedit vitae 
    sed quos sequi repellat amet quaerat, porro ipsam temporibus excepturi nihil atque! Esse, officiis? Libero reiciendis 
    totam rem quo dolor autem unde laudantium inventore?
